@font-face { font-family: 'Source Sans Pro'; src: url('../fonts/SourceSansPro-Light.ttf') format('truetype'); }
/* Toggle Styles */
li.loggedin {
    color: #fff;
    font-family: "Source Sans Pro";
    margin-top: 12px !important;
    list-style: none !important;
}
li.loggedin a {
    display: inline;
}
.dropdown-submenu {
    position: relative;
}
li.dropdown:hover, li.dropdown a:hover, .dropdown-toggle:hover {
    cursor: pointer !important;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
tr.blue {
    background-color: #3498db !important;
    color: #fff;
}
tr.green {
    background-color: #5cb85c !important;
    color: #fff;
}
tr.red {
    background-color: #e74c3c !important;
    color: #fff;
    text-align: center;
}
.form-control {
  border-radius: 0 !important;
}
.my-navigation div {
  width: 30px !important;
  height: 30px !important;
  border-radius: 30px !important;
  background-color: #34495e;
  font-size: 14px;
  font-family: sans-serif;
}
select.simple-pagination-items-per-page {
  width: 250px !important;
  display: inline;
}
.my-navigation div, .my-navigation div a {
  display: inline;
  text-decoration: none !important;
  color: #eee;
  padding: 5px;
  margin-bottom: 10px !important;
}
.dropdown-menu a {
  color: #444 !important;
}
.dropdown-menu {
  width: 250px;
  border-radius: 0;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #34495e;
    height: 100%;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #2c3e50;
    background-color: #ecf0f1 !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background-color: #2c3e50;
    margin-bottom: 20px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: transparent !important;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.bordered {
  border-top: 1px solid #455a6f;
  border-bottom: 1px solid #455a6f;
}
/* Forms */
textarea.form-control {
  max-width: 100%;
  min-width: 100%;
  min-height: 300px;
  max-height: 300px;
}

/* Buttons */
.btn {
	border-radius: 0;
}

/* Panels */
.panel, .panel .panel-body, .panel .panel-heading {
  border-radius: 0px;
}
  .panel .panel-body {
    font-size: 40px;
    font-weight: bold !important;
  }
  .panel-primary {
    border-color: #2980b9;
    color: #2980b9;
  }
    .panel-primary .panel-heading {
      background-color: #2980b9;
      border-color: #2980b9;
      color: #fff;
    }
  .panel-info {
    border-color: #3498db;
    color: #3498db;
  }
    .panel-info .panel-heading {
      background-color: #3498db;
      border-color: #3498db;
      color: #fff;
    }
  .panel-warning {
    border-color: #f1c40f;
    color: #f1c40f;
  }
    .panel-warning .panel-heading {
      background-color: #f1c40f;
      border-color: #f1c40f;
      color: #fff;
    }
  .panel-danger {
    border-color: #e74c3c;
    color: #e74c3c;
  }
    .panel-danger .panel-heading {
      background-color: #e74c3c;
      border-color: #e74c3c;
      color: #fff;
    }
  .panel-success {
    border-color: #27ae60;
    color: #27ae60;
  }
    .panel-success .panel-heading {
      background-color: #27ae60;
      border-color: #27ae60;
      color: #fff;
    }
.alert-danger {
  background-color: #e74c3c;
  border-radius: 0;
  border-color: #c0392b;
  text-align: center;
  color: #eee;
}
/* Links */
a.nohover {
    color: #000;
}
  a.nohover:hover {
      text-decoration: none;
  }
  a.nohover.head {
      color: #fff;
  }

/* Modal */
.modal-header, .modal-footer {
    background-color: #3498db !important;
    color: #fff !important;
}

.livechat {
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 300px;
    visibility: hidden;
    display: none;
}

.livechat .expandmask {
    background-color: #3498db;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 20px;
    font-size: 18px;
}
.livechat a {
    text-decoration: none !important;
}
.livechat .chatmask {
    height: 350px;
    background-color: #fff;
    border: 1px solid #3498db;
    padding: 10px;
}
.livechat #exp {
    cursor: pointer;
}
.livechat {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: hidden;
    display: none;
}
.chatwindowcontainer {
    width: 100% !important;
    height: 200px !important;
    border: none;
    overflow: scroll !important;
    overflow-x: hidden !important;
}
.bubble.mine {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    margin-top: 3px;
}
.bubble.notmine {
    background-color: #dddddd;
    color: #3498db;
    padding: 5px 10px;
    margin-top: 3px;
}
#newmsg textarea {
    margin: 5px 0 !important;
    height: 54px;
    max-height: 54px;
    min-height: 54px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}