@font-face { font-family: 'Source Sans Pro'; src: url('../fonts/SourceSansPro-Light.ttf') format('truetype'); }
body {
  background: url("../images/bg.png");
  font-family: 'Source Sans Pro', sans-serif;
}

/****** LOGIN MODAL ******/
.logomodal {
  max-width: 350px;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 35px;
  text-align: center;
}

.logomodal .logo {
  max-width: 300px;
}

.loginmodal-container input {
  color: #34495e;
}

.loginmodal-container {
  padding: 30px;
  padding-right: 0;
  max-width: 350px;
  width: 100% !important;
  background-color: #444444;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
  color: #fff;
}

.loginmodal-container h1 {
  font-weight: 100;
  text-align: left;
  font-size: 1.8em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  margin: 0;
}

.login.loginmodal-submit {
  background-color: #3498db !important;
}

.simplebox {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=submit], .loginmodal-container input, .loginmodal-container input:hover {
  box-shadow: none !important;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  width: 100%;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 1.0;
}

.login-help{
  font-size: 12px;
}

.login-help a {
  color: #fff;
}

.alert {
  border-radius: 0;
}
.alert.alert-danger {
  background-color: #e74c3c;
  border-color: #c0392b;
  color: #eee;
  text-align: center;
}
.alert.alert-success {
  background-color: #2ecc71;
  border-color: #27ae60;
  color: #eee;
  text-align: center;
}

.livechat {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 300px;
}

.livechat .expandmask {
  background-color: #3498db;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 20px;
  font-size: 18px;
}
.livechat a {
  text-decoration: none !important;
}
.livechat .chatmask {
  height: 350px;
  background-color: #fff;
  border: 1px solid #3498db;
  padding: 10px;
}
.livechat #exp {
  cursor: pointer;
}
.livechat {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chatwindowcontainer {
  width: 100% !important;
  height: 200px !important;
  border: none;
  overflow: scroll !important;
  overflow-x: hidden !important;
}
.bubble.mine {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  margin-top: 3px;
}
.bubble.notmine {
  background-color: #dddddd;
  color: #3498db;
  padding: 5px 10px;
  margin-top: 3px;
}
#newmsg textarea {
  margin: 5px 0 !important;
  height: 54px;
  max-height: 54px;
  min-height: 54px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}